{% extends 'radar/base.html' %}
{% load staticfiles %}

{% block title_block %}
{{ category.name }}
{% endblock %}


{% block headerElementsBeforeNav%}
<button onclick="openNav()" style="background-color: #F25D50;"><i class="fa-solid fa-bars"></i></button>
{% endblock%}

{% block btn%}
<form class="d-flex p-0 m-2" action="{% url 'radar:search_results'%}" method=GET>
    {% csrf_token %}
    <input type="search" class="form-control" placeholder="Search posts" aria-label="Search" name="searched">
    <button type="submit" class="btn" style="background-color: #B000FF; border-radius: 0px; "><i
            class="fa-solid fa-magnifying-glass"></i></button>
</form>
{% endblock%}


{% block nav_items%}
<li><a href="{% url 'radar:homepage' %}"></a></li>

{% if current_user.is_authenticated %}
<div class="dropdown" style="overflow: visible !important;">
    <a href="" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false"><img
            src="{{ MEDIA_URL }}profile_pictures/albert.jpg" class="rounded-circle dropdown-toggle "
            alt="profile picture"></a>

    <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
        <li><a class="cta" href="{% url 'radar:addPost' %}"><button class="dropdown-item" type="button">Add
                    post</button></a></li>
        <li><a class="cta" href="/radar/account/{{current_user}}"><button class="dropdown-item"
                    type="button">Account</button></a></li>
        <li><a class="cta" href="{% url 'radar:logout' %}"><button class="dropdown-item" type="button">Sign
                    out</button></a></li>
    </ul>
</div>

{% else %}
<a class="cta" href="{% url 'radar:login' %}"><button class="loginbtn">Login</button></a>
<a class="cta" href="{% url 'radar:signup' %}"><button>Sign Up</button></a>
{% endif %}
{% endblock%}


{% block body_block %}
{% if current_user %}

<!-- user image -->
<div class="fit-vertical">
    <div class="profile"
        style="border-radius: 90px; height:90px; width:90px;margin-left: auto; margin-right: auto; margin-top: 2.5%;">
        <img class="dropbtn" src="{{ MEDIA_URL }}profile_pictures/albert.jpg"  style="border-radius: 40px; cursor:auto;">

    </div>

    <!-- user data, i don't know why this is a form -->
<form class = "form">
    <h3>{{current_user.username}} details</h3>
    <input class = "form-control" type="text" placeholder={{current_user.username}} name="username" required>

    <input class = "form-control" type="text" placeholder={{current_user.email}} name="text" required>

    <input class = "form-control" type="number" placeholder={{user_profile.age}} name="age" required>

    <button class = "" type="submit" class="signup">Update</button>
</form>
</div>

{% if user_liked_posts %}
<h3>{{current_user}} interests</h3>
<div class="row row-cols-1 row-cols-md-3 g-4">
    {% for post in user_liked_posts %}
    <div class="col">
        <div class="card">

            <img src="{{post.image.url}}" class="card-img-top" alt="{{ post.title}}" style="height: 20em">

            <div class="card-body">
                <h5 class="card-title">{{post.title}}</h5>
                <p class="card-text" style="overflow:hidden; text-overflow: clip; white-space: nowrap;">
                    {{post.description}}</p>
                <p class="card-text"><small class="text-muted">Likes : {{ post.total_likes }}</small></p>
                <p class="card-text"><small class="text-muted">Views : {{ post.views }}</small></p>
            </div>
            <div class="card-footer">


            <div>
                {% if user.is_authenticated %}
                <button class="like_post_btn btn btn-outline-dark" post-id="{{ post.id }}" type="button">
                    Like </button>
                {% else %}
                <button type="button" class="login_to_like btn btn-outline-dark">like</button>
                {% endif %}
            </div>

            </div>
        </div>
    </div>
    {% endfor %}

</div>
{% else %}
<strong>You haven't liked any posts.</strong>
{% endif %}

{% else %}
The specified user does not exist.
{% endif %}

{% endblock %}
