<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link rel="stylesheet" href="{% static 'style.css'%}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
        <script src="{% static 'script.js' %}"></script>
        <script src="https://kit.fontawesome.com/e65075d43a.js" crossorigin="anonymous"></script>
        <title>
            Radar -
            {% block title_block %}
                Radar page
                {% endblock %}
        </title> 
    </head>

    <header>
        <!-- added different blocks basing on the order of some pages -->
        {% block headerElementsBeforeNav%}
        {% endblock%}
        <img class="logo" src="{% static 'images/logo.jpg' %}" width = 80 height="60" alt="logo">
        <nav>
            <ul class="nav-links">
                {% block nav_items%}
                    <li>nav items</li>
                {% endblock%}
            </ul>
        </nav>
        {% block btn%}
        {% endblock%}
        {% block headerElementsAfterNav%}
        {% endblock%}
        
    </header>
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="#">Cartoons</a>
        <a href="#">Tv Shows</a>
        <a href="#">Movies</a>
        <a href="#">Video Games</a>
    </div>
    <div id="main">
    
    </div>

    <body>
            {% block body_block %}
                This is body_block's default content.
            {% endblock %}
    </body> 
</html>
