{% extends 'radar/base1.html' %}
{% load staticfiles %}

{% block title_block %}
{{ category.name }}
{% endblock %}

<!-- need to know what nav items are supposed to be shown here -->

{% block body_block %}
<div>
    {% if category %}
        <!--<h1>{{ category.name }}</h1>-->
        {% if posts %}
        <div class="row row-cols-1 row-cols-md-3 g-4 " style="margin-left: 5%; margin-right: 5%;margin-top: 1%;">
            {% for post in posts %}
            <div class="col">
            <a href="{% url 'radar:post' post.slug %}" style="color:black; text-decoration: none;text-align: left;">
                <div class="card shadow mb-5 bg-white rounded" style="cursor: pointer; " >
                        {% if post.image %}
                        <img src="{{post.image.url}}" class="card-img-top hover-zoom" alt="{{ post.title}} image" style = "height: 15vw; width: 100%; object-fit: cover;">
                        {% else %}
                        <!-- show default image -->
                        <img src="{{MEDIA_URL}}images/placeholder.png" class="card-img-top" alt="{{ post.title}} image" >
                        {% endif %}
                    
                    <div class="card-body">
                        <h5 class="card-title">{{post.title}}</h5>
                        <p class="card-text" style = "overflow:hidden; text-overflow: clip; white-space: nowrap;">{{post.description}}</p>
                        <p id = "like_count" class="card-text"><small class="text-muted" name = "{{post.id}}">Likes : {{ post.total_likes }}</small></p>
                        <p class="card-text"><small class="text-muted">Views : {{ post.views }}</small></p>
                    </div>
                </a>
                    <div class="card-footer text-center" style=" width: 100%;">
                        <div >
                            {% if user.is_authenticated %}
                            <button class="like_post_btn btn" post-id="{{ post.id }}" type="button" href="" ><i class="fa-solid fa-heart" >
                                </i></button>
                            {% else %}
                            <button type="button" class="login_to_like btn btn-outline-dark" >like</button>
                            {% endif %}
                        </div>
                    </div>
                    
                </div>
            
            </div>
            {% endfor %}
            
        </div>
        {% else %}
        <strong>No posts currently in category.</strong>
        {% endif %}
    {% else %}
        The specified category does not exist.
    {% endif %}
    </div>  
    
{% endblock %}