{% extends 'radar/base1.html' %}
{% load staticfiles %}

{% block title_block %}
{{ category.name }}
{% endblock %}

<!-- need to know what nav items are supposed to be shown here -->

{% block body_block %}
        <div>
        {% if category %}
            <h1>{{ category.name }}</h1>
            {% if posts %}
            <ul>
                {% for post in posts %}
                <div class="card mb-3" style="max-width: 80%;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="{{post.image.url}}" class="img-fluid rounded-start" alt="{{ post.title}}" style="width: 100%;">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">{{post.title}}</h5>
                                <p class="card-text">{{post.description}}</p>
                                <p id="like_count" class="card-text"><small class="text-muted" name="{{post.id}}">Likes : {{ post.total_likes }}</small>
                                </p>
                                <p class="card-text"><small class="text-muted">Views : {{ post.views }}</small></p>
                            </div>
                        </div>
                        <div>
                            {% if user.is_authenticated %}
                            <button class="like_post_btn btn btn-outline-dark" post-id="{{ post.id }}" type="button">
                                Like </button>
                            {% else %}
                            <button type="button" class="login_to_like btn btn-outline-dark">like</button>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </ul>
            {% else %}
            <strong>No posts currently in category.</strong>
            {% endif %}
        {% else %}
            The specified category does not exist.
        {% endif %}
        </div>
    
{% endblock %}