<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <script src="script.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
      <script src="https://kit.fontawesome.com/e65075d43a.js" crossorigin="anonymous"></script>
</head>
<header style="padding: 0px; padding-left: 20px;padding-right: 20px;">
  
  <button onclick="openNav()" style="background-color: #F25D50;"><i class="fa-solid fa-bars"></i></button>
 
    <img class="logo" src="images/logo.jpg" alt="logo">
    <div class="fit">
    <input  id="bar" class = "bar" type="text" placeholder="Search" name="username" required>
    <button style="background-color: #B000FF; border-radius: 0px; height: 40px; margin-top: 2.5%; "><i class="fa-solid fa-magnifying-glass"></i></button>
    </div>
    <nav>
      <ul class="nav-links" > 
                
        <li>
        <div class="profile">
            <img class="dropbtn" src="images/albert.jpg" onclick="dropDown()" style="border-radius: 40px;">
            <ul id ="dropdownprof" class="dropdownprof">
                <li ><a href="myaccount.html">Account</a> <p></p>  <i class="fa-solid fa-user"></i></li>
                <li><a href="addPost.html">Add post</a><p></p><i class="fa-solid fa-circle-plus"></i></li>
            </div>
        </div>
        </li>
    
      </ul>

      

    </nav>
    
  </header>
  

  <div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="#">Cartoons</a>
    <a href="#">Tv Shows</a>
    <a href="#">Movies</a>
    <a href="#">Video Games</a>
  </div>
  <div id="main">

<body>

</body>
</html>