{% extends 'radar/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Home page
{% endblock %}

{% block headerElementsBeforeNav%}
<button onclick="openNav()" style="background-color: #F25D50;"><i class="fa-solid fa-bars"></i></button>
{% endblock%}

{% block btn%}
	<form class = "d-flex p-0 m-2" action="{% url 'radar:search_results'%}" method=GET>
		{% csrf_token %}
		<input type="search" class = "form-control" placeholder="Search posts" aria-label="Search" name = "searched">
		<button type = "submit" class="btn" style="background-color: #B000FF; border-radius: 0px; "><i
				class="fa-solid fa-magnifying-glass"></i></button>
	</form>
{% endblock%}


{% block nav_items%}
<li><a href="{% url 'radar:homepage1' %}"></a></li>
{% if user.is_authenticated %}
	<div class="dropdown" style="overflow: visible !important;">
		<a href="" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false"><img src="{{ MEDIA_URL }}profile_pictures/albert.jpg" class="rounded-circle dropdown-toggle " alt="profile picture"></a>

		<ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
			<li><a class="cta" href="{% url 'radar:addPost' %}"><button class="dropdown-item" type="button">Add post</button></a></li>
			<li><a class="cta" href="/radar/account/{{current_user}}"><button class="dropdown-item" type="button">Account</button></a></li>
			<li><a class="cta" href="{% url 'radar:logout' %}"><button class="dropdown-item" type="button">Sign out</button></a></li>
		</ul>
	</div>

{% else %}
	<a class="cta" href="{% url 'radar:login' %}"><button class="loginbtn">Login</button></a>
	<a class="cta" href="{% url 'radar:signup' %}"><button>Sign Up</button></a>
{% endif %}
{% endblock%}


{% block body_block %}

<div>
	{% if posts %}
			<div class="row row-cols-1 row-cols-md-3 g-4">
				{% for post in posts %}
				<div class="col">
					<div class="card">
					
							<img src="{{post.image.url}}" class="card-img-top" alt="{{ post.title}}" style = "height: 20em">
						
						<div class="card-body">
							<h5 class="card-title">{{post.title}}</h5>
							<p class="card-text" style = "overflow:hidden; text-overflow: clip; white-space: nowrap;">{{post.description}}</p>
							<p id = "like_count" class="card-text"><small class="text-muted" name = "{{post.id}}">Likes : {{ post.total_likes }}</small></p>
							<p class="card-text"><small class="text-muted">Views : {{ post.views }}</small></p>
						</div>
						<div class="card-footer">
							<div>
								{% if user.is_authenticated %}
								<button class="like_post_btn btn btn-outline-dark" post-id="{{ post.id }}" type="button" >
									Like </button>
								{% else %}
								<button type="button" class="login_to_like btn btn-outline-dark" >like</button>
								{% endif %}
							</div>

						</div>
					</div>
				</div>
				{% endfor %}
				
			</div>
	{% else %}
	<strong>There are no posts present in your data base.</strong> 
	{% endif %}
</div>

{% endblock %}





