{% extends 'radar/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Home page
{% endblock %}

{% block nav_items%}
<li><a href="{% url 'radar:homepage1' %}"></a></li>
{% if user.is_authenticated %}
	<a class="cta" href="{% url 'radar:logout' %}"><button>Logout</button></a>
{% else %}
	<a class="cta" href="{% url 'radar:login' %}"><button class="loginbtn">Login</button></a>
	<a class="cta" href="{% url 'radar:signup' %}"><button>Sign Up</button></a>
{% endif %}
{% endblock%}

{% block headerElementsBeforeNav%}
<button onclick= "openNav()" style="background-color: #F25D50;"><i class="fa-solid fa-bars"></i></button>
{% endblock%}

{% block body_block %}
<input id="bar" class="bar" style="width: 80%; margin: 20px;" type="text" placeholder="Search" name="username" required>
<div>
	{% if posts %}
	<ul>
		{% for post in posts %}
		<div class="card mb-3" style="max-width: 80%;">
			<div class="row g-0">
				<div class="col-md-4">
					<img src="{{ MEDIA_URL }}cat.jpg" class="img-fluid rounded-start" alt="{{ post.title}}" style="width: 100%;">
				</div>
				<div class="col-md-8">
					<div class="card-body">
						<h5 class="card-title">{{post.title}}</h5>
						<p class="card-text">{{post.description}}</p>
						<p class="card-text"><small class="text-muted">{{ post.likes }}</small></p>
						<p class="card-text"><small class="text-muted">{{ post.views }}</small></p>
						<button type="button" class="btn btn-outline-dark">Like</button>
					</div>
				</div>
			</div>
		</div>
		
		{% endfor %}
	</ul> 
	{% else %}
	<strong>There are no posts present in your data base.</strong> 
	{% endif %}
</div>

{% endblock %}





