{% extends 'radar/base.html' %}
{% load staticfiles %}

{% block nav_items%}
<button style="background-color: #B000FF;" onclick="openSearch()"><i class="fa-solid fa-magnifying-glass"></i></button>
<li><a href="#"></a></li>
<a class="cta" href="login.html"><button class="loginbtn">Login</button></a>
<a class="cta" href="signup.html"><button>Sign Up</button></a>
{% endblock%}

{% block otherHeaderElements%}
<button onclick="openNav()" style="background-color: #F25D50;"><i class="fa-solid fa-bars"></i></button>
{% endblock%}
<!-- side nav is not in the header nor the body -->
<div id="mySidenav" class="sidenav">
	<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
	<a href="#">Cartoons</a>
	<a href="#">Tv Shows</a>
	<a href="#">Movies</a>
	<a href="#">Video Games</a>
</div>
<div id="main">

</div>


{% block body_block %}
<input id="bar" class="bar" type="text" placeholder="Search" name="username" required>
{% endblock %}