{% extends 'radar/base.html' %}
{% load staticfiles %}

{% block title_block %}
Login
{% endblock %}

{% block nav_items%}
<li><a href="#"></a></li>
      <li><a href="index1.html">Try it out!</a></li>
{% endblock%}

{% block btn%}
<a class="cta" href="signup.html"><button>Sign Up</button></a>
{% endblock%}


{% block body_block %}
<form>  
  <h3>Login Here</h3>

  <label for="username">Username</label>
  <input type="text" placeholder="Username" name="username" required>
  
  <label for="password">Password</label>
  <input type="password" placeholder="Password" name="password" required>

  <button type="submit" class="submit">Login</button>
</div>
<div class="social">
  <div class="go"><i class="fab fa-google"></i>  Google</div>
  <div class="fb"><i class="fab fa-facebook"></i>  Facebook</div>
</div>
</form>
{% endblock %}