{% extends 'radar/base.html' %}
{% load staticfiles %}

{% block title_block %}
Login page
{% endblock %}

{% block nav_items%}
{% endblock%}

{% block headerElementsAfterNav%}
<a class="cta" href="{%url 'radar:signup'%}"><button>Sign Up</button></a>
{% endblock%}

{% block body_block %}
<form id="login_form" method="post" action="{% url 'radar:login' %}">
    <h3>Login Here</h3>
    {% csrf_token %}
    <label class="form-label" for="username">Username</label>
    <input class="form-control" type="text" placeholder="Username" name="username" required>
    <label class="form-label" for="password">Password</label>
    <input class="form-control" type="password" placeholder="Password" name="password" required>
    
    <button type="submit" value="submit">Login</button>
</form>
{% endblock %}