{% extends 'radar/base.html' %}
{% load staticfiles %}

    {% block title_block %}
    Account
    {% endblock %}

    {% block nav_items%}
    <div id="dropDown" class="dropdown-content">
        <a class="cta" href="login.html"><button class="myaccount">Friends</button></a>
        <a class="cta" href="signup.html"><button class="friends">My account</button></a>
    </div>
    {% endblock%}
    
    {% block otherHeaderElements%}
    <div class="profile">
        <img class="dropbtn" src="images/albert.jpg" onclick="dropDown();" style="border-radius: 40px;">
    </div>
    {% endblock%}
        
    {% block body_block %}
    <div class="fit-vertical">
        <div class="profile"
            style="border-radius: 90px; height:90px; width:90px;margin-left: auto; margin-right: auto; margin-top: 2.5%;">
            <img class="dropbtn" src="images/albert.jpg" style="border-radius: 40px; cursor:auto;">
    
        </div>
        <form>
            <h3>Account Details</h3>
            <input type="text" placeholder="Username" name="username" required>
    
            <input type="text" placeholder="Email" name="text" required>
    
            <input type="number" placeholder="Age" name="password" required>
            <input type="text" placeholder="Day/Month/Year" name="password" required>
    
    
            <button type="submit" class="signup">Update</button>
        </form>
    </div>
    {% endblock %}