<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
      <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <title>WAD2</title>
</head>
<header>
    <img class="logo" src="" alt="logo">
    <nav>
      <ul class="nav-links">
        <li><a href="#"></a></li>
        <li><a href="index1.html">Try it out!</a></li>
      </ul>
    </nav>
    <a class="cta" href="login.html"><button class="loginbtn">Login</button></a>
  </header>
<body>
    <form>  
        <h3>Sign Up Here</h3>

        <label for="username"></label>
        <input type="password" placeholder="Email" name="password" required>

        <input type="password" placeholder="Full Name" name="password" required>

        <input type="text" placeholder="Username" name="username" required>
        
        <input type="password" placeholder="Password" name="password" required>

        <button type="submit" class="signup" >Sign Up</button>
      </div>
      <div class="social">
        <div class="go"><i class="fab fa-google"></i>  Google</div>
        <div class="fb"><i class="fab fa-facebook"></i>  Facebook</div>
      </div>
    </form>
</body>
</html>
