{% extends 'radar/base.html' %}
{% load staticfiles %}

{% block title_block %}
Signup
{% endblock %}

{% block nav_items%}
<li><a href="#"></a></li>
<li><a href="index1.html">Try it out!</a></li>
{% endblock%}

{% block btn%}
<a class="cta" href="login.html"><button class="loginbtn">Login</button></a>
{% endblock%}

      
        
{% block body_block %}
<form>  
  <h3>Sign Up Here</h3>

  <label for="username"></label>
  <input type="password" placeholder="Email" name="password" required>

  <input type="password" placeholder="Full Name" name="password" required>

  <input type="text" placeholder="Username" name="username" required>
  
  <input type="password" placeholder="Password" name="password" required>

  <button type="submit" class="signup" >Sign Up</button>
</div>
<div class="social">
  <div class="go"><i class="fab fa-google"></i>  Google</div>
  <div class="fb"><i class="fab fa-facebook"></i>  Facebook</div>
</div>
</form>

{% endblock %}