{% extends 'radar/base.html' %}
{% load staticfiles %}

{% block title_block %}
	Signup
{% endblock %}

{% block nav_items%}
<li><a href="{% url 'radar:homepage1' %}"></a></li>
<li><a href="{% url 'radar:homepage1' %}">Try it out!</a></li>
{% endblock%}

{% block headerElementsAfterNav%}
<a class="cta" href="{% url 'radar:login' %}"><button class="loginbtn">Login</button></a>
{% endblock%}

      
        
{% block body_block %}
{%if registered%}
<strong>Thank you for registering with us!</strong>
<a href="{% url 'radar:homepage1' %}">Return to the homepage.</a><br />
{% else %}
	
<form id="sign-up-form" method="post" action="{% url 'radar:signup' %}" enctype="multipart/form-data">
	<h3>Sign up here </h3>
	{% csrf_token %}
	{{ user_form.as_p }}
	{{ profile_form.as_p }}
	<button type="submit" class="signup" >Sign Up</button>
</form>
{% endif %}


{% endblock %}