{% extends 'radar/base.html' %}
{% load staticfiles %}

<!-- This is not loading well, I'd need you to check it out before i continue -->

{% block title_block %}
view post
{% endblock %}

{% block headerElementsBeforeNav%}
<button onclick="openNav()" style="background-color: #F25D50;"><i class="fa-solid fa-bars"></i></button>
{% endblock%}

{% block nav_items%}
<ul class="nav-links">
        <button style="background-color: #B000FF;" onclick="openSearch()"><i class="fa-solid fa-magnifying-glass"></i></button>
        <li><a href="#"></a></li>
        <a class="cta" href="login.html"><button class="loginbtn">Login</button></a>
    <a class="cta" href="signup.html"><button>Sign Up</button></a>
{% endblock%}
 
  <div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="#">Cartoons</a>
    <a href="#">Tv Shows</a>
    <a href="#">Movies</a>
    <a href="#">Video Games</a>
  </div>
  <div id="main">
      </div>


  {% block body_block %}
  <div class="fit">
    <form style="height: 400px;">
      <img></img>
    </form>
    <div class="fit-vertical" style="margin-right: 20%; ">
      <form style="width: 100%;">
        <textarea style="resize:none; background-color: rgb(236, 236, 236); width: 100%; height: 100%;"></textarea>
      </form>
      <form style="width: 100%;margin-left: 0%; ">
        <div class="fit">
          <img src="images/albert.jpg" style="margin-left:0;border-radius: 40px; cursor:auto; height: 50px; width: 50px;">
          <input type="text" style="width:100%; border-radius: 10px;"></input>
        </div>
      </form>
  
      <button>Submit</button>
    </div>
    </form>
  </div>

  {% endblock %}